@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spinBorder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.border-animation-outer {
  background: conic-gradient(
    from 0deg,

    #60a5fa,
    #6366f1,
    #8b5cf6,
    #ec4899,
    #f43f5e,
    #f59e0b,
    #60a5fa
  );

  animation: spinBorder 5s linear infinite;

  mask-image: radial-gradient(circle, transparent 60%, black 61%);

  -webkit-mask-image: radial-gradient(circle, transparent 60%, black 61%);
}

.border-animation-inner {
  background: conic-gradient(
    from 0deg,

    #f43f5e,
    #ec4899,
    #8b5cf6,
    #6366f1,
    #60a5fa,
    #22d3ee,
    #f43f5e
  );

  animation: spinBorder 5s linear infinite reverse;

  mask-image: radial-gradient(circle, transparent 60%, black 61%);

  -webkit-mask-image: radial-gradient(circle, transparent 60%, black 61%);
}
